<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>This is node express app for note taking ^-^</p>
    <p>Version: 1.0.0</p>

    <p>Made By &copy; Joseph Alfredo</p>
  </div>
</div>
