<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>This is node express app for note taking.</p>
    <p>Version: 0.1.5</p>

    <p>Made By &copy; Joseph Alfredo</p>
    <p>Tester</p>
    <p>Nick Sesio</p>
  </div>
</div>
