
<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Take note to ease your brain!</p>
  <a href="/users/login" class="btn btn-dark btn-lg">New Notes</a>
</div>
<div class="buffer">

</div>

<div class="row text-center">
  <div class="col">
    <h3 class="logo-title">Create Awesome Note</h3>
  </div>
  <div class="col">
    <h3 class="logo-title">Design it to your liking</h3>
  </div>
  <div class="col">
    <h3 class="logo-title">Organize your notes!</h3>
  </div>
</div>
