<div class="card card-body">
  <h3>New Notes</h3>
  <form action="/notes" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" placeholder="Short Summary">
    </div>
    <div class="form-group">
      <label for="title">Note</label>
      <textarea class="form-control" name="note" placeholder="Stuff to write"></textarea>
    </div>
    <button type="submit" name="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
