<div class="row">
  <div class="card">
    <div class="card-body">
      {{#if user}}
          <h1>Hello</h1>
          <p> Name: {{user.name}}</p>
          <p> Email: {{user.email}}</p>
        {{else}}
          <h1>Welcome</h1>
          <p>Please login ^_^</p>
          <a href="/login">login here</a>
        {{/if}}
    </div>
  </div>
</div>
